body {
    height: 100vh;
    margin: 0;
}


.box {
    height: calc(100% - 40px);
    width: 100%;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: left top;
}

.box::after {
    content: "Aqui vem alguma mensagem";
    color: rgb(126, 99, 67);
    font-size: 50px;
    
}